language: ruby
rvm:
- 2.4
before_install:
- psql -c 'create database travis_ci_test;' -U postgres
- cp config/database.yml.travis config/database.yml
- yarn
script:
- bin/rake db:migrate RAILS_ENV=test
- bin/rake assets:precompile
- bin/rake
cache:
  bundler: true
  yarn: true
deploy:
  provider: heroku
  api_key:
    secure: 3aTkzMSh7gSVFWsjAJfaJzLoGbngqX4igt/ujwruIICZ5lilcfv55frFXHglEbwBASbiygHNbPXCiJwIOnMjzaMOWrzxLuS/OpROCzfr4h//L4vr6OsD6lPp+z9PSbjJjw2teAstKLzc623dvMFX7mykQ24wVwC7GhLNUiY89xPutXzvMCbY3k8lkvTauaccqOSAiylap9uV3kNi/htQEQbMOaVRpBynzaIH4iUq/swn33nBS+Z1lF19Em59ajUMQY1EksNFmVbkDInBDsZNIrtDws38fnqQqSO6nfLaUx4wlN3njrmw5b7nADS0W4kQcDjJaFMEudVl9sQqVbRlxxfoq0odpkFj9rX+duk1tNS4X4QI+XeKBBFMQFA8f+W7G0+U9D3J/WN+vOMT9qO/EsfDeTiy7nTV0Mx3gIQE3XjUJlsYfnoqhmj64xu/z63TLAd2DA7OepwmcUe+YxQLctHgjlgoODqXEuxm4IvpRg3i98he5cKZvl/LdUoX2q9XSaMp6T8iXN7cVGNahQYj6GM6qbqlW6ycTMA47CvpMh5ApwzRc2YTCxGTC3L6tV82Li+rn1zZHbNCIrIcZd+dsRM0zocnQmRpkg53rLYqBuSI5GUpfe/afijpo1m63ARGvZ8BrluMLiQ71gtTWBuOI5h0lsXcvJ6HTrgizhJnu24=
  app:
    master: orange-converter
services:
  - postgresql