  <div class="columns is-centered">

      <div class="column box is-light is-4">
        <p class="subtitle has-text-weight-semibold">Currency I Have</p>
        <div class="content">
          <div class="field has-addons has-addons-centered">
              <p class="control">
                <span class="select">
                  <%= select_tag "currency", options_for_select(currency_select, "USD"), class: "select", id: "currency"%>
                </span>
              </p>
              <p class="control">
                <input type="number" id="quantity" name="quantity" class="input" placeholder="Amount of money">                
              </p>
            </div>
        </div>
    </div>

    <div class="column has-text-centered is-1 is-narrow">
      <a class="icon is-large">
        <i class="fa fa-2x fa-refresh bd-rainbow refresh"></i>
      </a>
    </div>

      <div class="column box is-light is-4">
        <p class="subtitle has-text-weight-semibold">Currency I Want</p>
        <div class="content">
          <div class="field has-addons has-addons-centered">
              <p class="control">
                <span class="select">
                  <%= select_tag "currency_destination", options_for_select(currency_select, "BRL"), class: "select", id: "currency_destination"%>
                </span>
              </p>
              <p class="control">
                <input type="text" id="result" name="result" class="input" placeholder="Result" readonly>
              </p>
            </div>
        </div>
    </div>

  </div>