<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Currency Converter by <a href="http://github.com/paulocarmino">Paulo Carmino</a></strong></br>
        <div class="built">Built with <span><i class="fa fa-heart rails" aria-hidden="true"></i></span> and Rails</div>
      </p>
    </div>
  </div>
</footer>