<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Currency Converter</strong> by <a href="http://github.com/paulocarmino">Paulo Carmino</a></br>
        Built with <span><i class="fa fa-heart" aria-hidden="true"></i></span> and Rails
      </p>
    </div>
  </div>
</footer>