body {
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}

.logo-box,
.button-exchange {
    margin-top: 40px;
    padding-bottom: 10px;
}

.button-exchange:hover {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

*,
*::before,
*::after {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.navbar {
    background-color: transparent !important;
}

.navbar-item {
    color: #FFF !important;
}

.bd-notification {
    font-size: 12px;
    color: #4a4a4a;
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 0.30em 0.65em;
    align-items: center;
    text-align: center;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bd-notification .title,
.bd-notification .subtitle,
.bd-notification .content,
.bd-notification strong {
    color: currentColor;
}

.bd-notification code,
.bd-notification pre {
    background: white;
}

.bd-notification pre code {
    background: transparent;
}

.bd-notification.is-white {
    background-color: white;
    color: #0a0a0a;
}

.bd-notification.is-black {
    background-color: #0a0a0a;
    color: white;
}

.bd-notification.is-light {
    background-color: whitesmoke;
    color: #363636;
}

.bd-notification.is-dark {
    background-color: #363636;
    color: whitesmoke;
}

.bd-notification.is-primary {
    background-color: #00d1b2;
    color: #fff;
}

.bd-notification.is-link {
    background-color: #3273dc;
    color: #fff;
}

.bd-notification.is-info {
    background-color: #209cee;
    color: #fff;
}

.bd-notification.is-success {
    background-color: #23d160;
    color: #fff;
}

.bd-notification.is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
}

.bd-notification.is-danger {
    background-color: #ff3860;
    color: #fff;
}

.refresh {
    transition: all .3s ease-in-out;
    background: linear-gradient(124deg, rgb(248, 248, 249) 15%, #e2eff2 70%, #dff4ff 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px
}

.refresh-mobile {
    margin-top: 0px !important;
}

.spin {
    transition: all .5s ease-in-out;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fixer-tag {
    margin-top: 60px;
}

.spinner {
    display: none;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

.footer {
    padding: 1.5rem !important;
    background-color: unset !important;
    color: #fff;
}

.footer strong,
.footer a {
    color: #fff;
}

.built {
    font-size: 11px;
    margin-top: -10px;
}

.rails {
    color: #B02B2C;
}